# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/

# Configuration files
config/.env
config/client_config.yaml
config/config.yaml

# OS-specific
.DS_Store
Thumbs.db

# Data outputs and intermediates
# data/input/
# data/output/
# data/intermediate/
# Ignore all CSV and XLSX files recursively
*.csv
*.xlsx

# Logs
*.log

# Notebooks checkpoints
.ipynb_checkpoints/

# Jupyter metadata
notebooks/.ipynb_checkpoints/

# Python egg info
*.egg-info/
dist/
build/

# Test cache
.pytest_cache/
coverage.xml
htmlcov/
.cache/
.tox/

# VSCode / IDE
.vscode/
.idea/


notebooks/*.nbconvert.ipynb
